<div class="container">

	<h1 class="text-center mb-5" data-aos="zoom-in">Заказы</h1>

	@for (i of details; track i.id) {
		<app-detail-card [detail]="i"></app-detail-card>
	}

	<div *ngIf="details.length !== 0" data-aos="fade-up">
		<hr>
		<div class="row align-items-center">
			<div class="col"></div>
			<div class="col">
				<input [(ngModel)]="date" class="form-control" type="date">
			</div>
			<div class="col-auto">
				<button (click)="orderingAdd()" *ngIf="date !== null" class="btn btn-primary" data-aos="zoom-in"
						type="button">Оформить
				</button>
			</div>
			<div class="col"></div>
		</div>
		<hr>
	</div>

	<div class="rounded shadow border p-2 row mb-3" data-aos="fade-up">
		<div class="col"></div>
		<div class="col">
			<input type="date" class="form-control" [(ngModel)]="filterDate">
		</div>
		<div class="col">
			<select class="form-select" [(ngModel)]="filterStatus">
				<option value="0">Все</option>
				<option *ngFor="let i of orderingStatuses | keyvalue" [value]="i.key" [label]="i.value"></option>
			</select>
		</div>
		<div class="col"></div>
	</div>

	@for (i of getSortedOrderings(); track i.id) {
		<app-ordering-card [ordering]="i"></app-ordering-card>
	}


</div>
